@media only screen and (max-width:2560px) and (min-width:1800px) { 
#center{
    margin-left: 300px;
}
h1,.ti{
    margin-left: 350px;
}
#objetivo h2,#habilidades h2,
#cursos h2, #formação h2{
    font-size: 40px;
}
#objetivo h2,#habilidades h2,
#cursos ul li, #formação h2{
    font-size: 40px;
}
#objetivo p,#habilidades ul li,
#cursos p, #formação p{
    font-size: 30px;
    width: 600px;
}
#faixa2{
    margin-top: -700px;
    height: 700px;
}
hr{
    width: 1200px;
}
}


@media only screen and (max-width:1300px) and (min-width:800px) {
    img {
        width: 230px;
        height: 230px;
        margin-right: -130px;
        margin-bottom: 400px;
    }

    #faixa {
        width: 200px;
    }

    #faixa2 {
        width: 200px;
    }

    hr {
        width: 720px;
    }

    #objetivo p {
        width: 400px;
    }
}

@media only screen and (max-width:790px) and (min-width:700px) {
    img {
        width: 230px;
        height: 230px;
        margin-right: -130px;
        margin-bottom: 400px;
    }

    #faixa {
        width: 200px;
    }

    #faixa2 {
        width: 200px;
    }

    hr {
        width: 400px;
    }
    h1,.ti{
        margin-left: 15px;
    }

    #objetivo p {
        width: 400px;
    }
}


@media only screen and (max-width:500px) and (min-width:410px) {
    h1,
    .ti {
        font-size: 25px;
        width: 300px;
        margin-left: 50px;
    }
#center{
    margin-left: 20px;
}
    h2 {
        width: 100px;
    }


    #content,
    #content2 {
        width: 250px;
        font-size: 15px;
        margin-left: 604px;
    }

    main {
        width: 300px;
    }
   

    #formação,
    #objetivo,
    #habilidades,
    #cursos {
        margin-left: 17px;
        margin-top: 50px;
        width: 150px;
    }

    #formação p,
    #objetivo p,
    #habilidades ul li,
    #cursos ul li {
        font-size: 16px;
        width: 200px;
        margin-left: 80px;
    }

    #cursos ul li {
        width: 130px;
    }

    ul {
        width: 130px;
    }

    #formação p {
        width: 190px;
    }

    #objetivo p {
        width: 180px;
    }

    #faixa2,
    #faixa {
        display: none;
    }

    hr {
        width: 250px;
        margin-left: 55px;
    }
    #objetivo h2,#habilidades h2,
    #cursos h2, #formação h2{
        font-size: 20px;
        margin-left: 80px;
    }
}

@media only screen and (max-width:410px) and (min-width:390px) {

    #center{
        margin-left: 10px;
    }
    h1,
    .ti {
        font-size: 25px;
        width: 300px;
        margin-left: 50px;
    }

    h2 {
        width: 100px;
    }


    #content,
    #content2 {
        width: 250px;
        font-size: 15px;
        margin-left: 604px;
    }

    main {
        width: 300px;
    }
   

    #formação,
    #objetivo,
    #habilidades,
    #cursos {
        margin-left: 17px;
        margin-top: 50px;
        width: 150px;
    }

    #formação p,
    #objetivo p,
    #habilidades ul li,
    #cursos ul li {
        font-size: 16px;
        width: 200px;
        margin-left: 80px;
    }

    #cursos ul li {
        width: 130px;
    }

    ul {
        width: 130px;
    }

    #formação p {
        width: 190px;
    }

    #objetivo p {
        width: 180px;
    }

    #faixa2,
    #faixa {
        display: none;
    }

    hr {
        width: 250px;
        margin-left: 55px;
    }
    #objetivo h2,#habilidades h2,
    #cursos h2, #formação h2{
        font-size: 20px;
        margin-left: 80px;
    }
}


@media only screen and (max-width:380px) and (min-width:350px) {

    h1,
    .ti {
        font-size: 25px;
        width: 200px;
        width: 300px;
    }

    h2 {
        width: 100px;
    }


    #content,
    #content2 {
        width: 250px;
        font-size: 15px;
        margin-left: 604px;
    }

    main {
        width: 300px;
    }

    h1,
    .ti {
        margin-left: 10px;

    }
   

    #formação,
    #objetivo,
    #habilidades,
    #cursos {
        margin-left: 17px;
        margin-top: 50px;
        width: 150px;
    }

    #formação h2,
    #formação p,
    #objetivo h2,
    #objetivo p,
    #habilidades ul li,
    #habilidades h2,
    #cursos h2,
    #cursos ul li {
        font-size: 16px;
        width: 200px;
        margin-left: 80px;
    }

    #cursos ul li {
        width: 130px;
    }

    ul {
        width: 130px;
    }

    #formação p {
        width: 190px;
    }

    #objetivo p {
        width: 180px;
    }

    #faixa2,
    #faixa {
        display: none;
    }

    hr {
        width: 150px;
        margin-left: 90px;
    }
}

@media only screen and (max-width:320px) and (min-width:320px) {

    h1,
    .ti {
        font-size: 15px;
        width: 200px;
    }

    h2 {
        width: 100px;
    }


    #content,
    #content2 {
        width: 250px;
        font-size: 15px;
        margin-left: 604px;
    }

    main {
        width: 300px;
    }

    h1,
    .ti {
        margin-left: 10px;

    }

    #formação,
    #objetivo,
    #habilidades,
    #cursos {
        margin-left: 17px;
        margin-top: 50px;
        width: 150px;
    }

    #formação h2,
    #formação p,
    #objetivo h2,
    #objetivo p,
    #habilidades ul li,
    #habilidades h2,
    #cursos h2,
    #cursos ul li {
        font-size: 15px;
        width: 200px;
        margin-left: 50px;
    }

    #cursos ul li {
        width: 130px;
    }

    ul {
        width: 130px;
    }

    #formação p {
        width: 190px;
    }

    #objetivo p {
        width: 180px;
    }

    #faixa2,
    #faixa {
        display: none;
    }

    hr {
        width: 100px;
        margin-left: 90px;
    }
}